<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <style>
    @page {
      size: A4 landscape;
    }
  </style>
  {{ entity_print_css }}
</head>
<body>
<div class="page">
    {{ content }}
</div>
</body>
</html>
